#map {
	height: 400px;
	width: 100%;
}
h1{
	font-size: 10vmin;
}
* {
	box-sizing: border-box;
}
.column{
	width: 50%;
	float: left;
	padding: 10px;
}

@media (max-width: 600px) {
	.column {
		width: 100%;
	}
}